# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# backup files
*~

bin
tmp
node_modules
public/assets
/hub
.idea
terraform.tfvars
.terraform
.tmp
.env.development

/dart/client/.swagger-codegen
/dart/client/docs
/dart/client/.analysis_options
/dart/client/.swagger-codegen-ignore
/dart/client/git_push.sh
/dart/client/README.md
/dart/client/.dart_tool
/dart/client
/dart/hub

/typescript/client/.swagger-codegen
/typescript/client/.swagger-codegen-ignore
/typescript/client/git_push.sh
/typescript

/client/.swagger-codegen
/client/docs
/client/api
/client/.swagger-codegen-ignore
/client/.travis.yml
/client/git_push.sh
/client/README.md
