<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Hub</title>
    <%= stylesheetTag("application.css") %>
    <%# <meta name="csrf-param" content="authenticity_token" /> %>
    <%# <meta name="csrf-token" content="<%= authenticity_token %>" /> %>
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
    <%= yield %>
    <%= javascriptTag("application.js") %>
  </body>
</html>
