<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Log In
      </h2>
    </div>
    <div class="max-w-md w-full space-y-2">
      <a href="/auth/google" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300">
        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#FBBB00" d="M113.47 309.4l-17.82 66.54-65.14 1.38C11.06 341.22 0 299.9 0 256c0-42.45 10.32-82.48 28.62-117.73h.02l58 10.63 25.4 57.64c-5.32 15.5-8.22 32.15-8.22 49.46 0 18.8 3.4 36.8 9.65 53.4z"/>
            <path fill="#518EF8" d="M507.53 208.18c2.94 15.48 4.47 31.47 4.47 47.82 0 18.33-1.93 36.2-5.6 53.45-12.46 58.68-45.02 109.93-90.13 146.2l-.02-.03-73.04-3.72-10.32-64.54c29.93-17.55 53.33-45.02 65.65-77.9h-136.9v-101.3h245.9z"/>
            <path fill="#28B446" d="M416.25 455.62l.02.02C372.4 490.9 316.67 512 256 512c-97.5 0-182.25-54.5-225.5-134.68l82.97-67.9c21.62 57.7 77.28 98.76 142.53 98.76 28.05 0 54.32-7.58 76.87-20.82l83.38 68.26z"/>
            <path fill="#F14336" d="M419.4 58.94l-82.93 67.9c-23.33-14.6-50.92-23.02-80.47-23.02-66.73 0-123.43 42.96-143.97 102.72l-83.4-68.27C71.23 56.12 157.05 0 256 0c62.12 0 119.07 22.13 163.4 58.94z"/>
          </svg>
        </span>
        Google
      </a>
      <a href="/auth/facebook" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300">
        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291.32 291.32">
            <path fill="#3B5998" d="M145.66 0c80.45 0 145.66 65.22 145.66 145.66 0 80.45-65.2 145.66-145.66 145.66S0 226.12 0 145.66C0 65.22 65.2 0 145.66 0z"/>
            <path fill="#FFF" d="M163.4 100.28h18.77V72.55H160.1v.1c-26.74.94-32.22 15.97-32.7 31.76h-.06v13.88h-18.2v27.15h18.2v72.8h27.44v-72.8h22.48l4.34-27.14h-26.8v-8.38c0-5.33 3.54-9.6 8.6-9.6z"/>
          </svg>
        </span>
        Facebook
      </a>
    </div>
    <div class="separator text-gray-600 text-sm">or sign in with</div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
        </div>
      </div>
      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
